
$pcWidth: 1172;
$tabletWidth: 768;
$mobileWidth: 320;
$maxWidth: 1920;

$white: #FFFFFF;

$dark_0: #10101DE5;
$dark_1: #3D4050;
$dark_2: #333333;
$dark_3: #272733;
$dark_4: #000;


$light_0: #43ABF0;
$light_1: #42A9ED;
$light_2: #C3C3C3;
$light_3: #286690;
$light_4: #3E9CDC;
$light_5: #6F6D7B;
$light_6: #BBBBBB;
$light_7: #C4C4C4;